<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eligendi eum illum ipsam ipsum necessitatibus pariatur placeat praesentium tempore voluptas!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eligendi eum illum ipsam ipsum necessitatibus pariatur placeat praesentium tempore voluptas!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eligendi eum illum ipsam ipsum necessitatibus pariatur placeat praesentium tempore voluptas!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eligendi eum illum ipsam ipsum necessitatibus pariatur placeat praesentium tempore voluptas!</p>
  </div>
</div>
